.app{
  height: auto;
}
.home {
  align-items: center;
}
.home__header{
  text-align: center;
  padding-top: 30px;
}
.home__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter__input{
  width: 300px;
  height: 25px;
  font-size: 20px;
}
.character__list{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-top: 50px;
}
.character__list-item{
  width: 200px;
  border: 1px solid #535c68;
  background-color: #ff7f50;
}
.character__list-cover{
  height: 290px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.character__list-img{
  width: 0;
  height: 0;
}
.character__texts{
height: 80px;
text-align: center;
}
.character__list-name{
font-size: 20px;
color: #ffffff;
}
.character__list-house{
  font-size: 16px;
  color: #ffffff;
}
.character__page{
  background-color: aqua;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.character__card{
  width: 750px;
  height: 450px;
  border: 1px solid #535c68;
  background-color: #ff7f50;
  display: flex;
  flex-direction: row;
}
.character__card-cover {
  height: 450px;
  width: 300px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}.character__card-img {
  width: 0;
  height: 0;
}
.character__card-name{
  margin-top: 30px;
}
.character__card-texts{
  width: 450px;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.character__card-noname{
text-align: left;
padding-left: 30px;
padding-top: 20px;
font-size: 18px;
}
.return__button{
  margin-top: 40px;
}